html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #242121;
  font-size: 60px;
  font-family: Montserrat;
  line-height: 125%;
  letter-spacing: -1.65px;
  position: relative;
}
.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #FCBB08;
  position: absolute;
  left: 0;
  bottom: -14px;
}

.header__top-inner {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  padding: 247px 0 62px;
  height: calc(100vh - 94px);
  background: url("../images/header-bg.jpg") no-repeat center 57%/cover;
  text-align: center;
}
.header__descr {
  color: #FCBB08;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 2.743px;
  margin-top: 18px;
}
.header__mouse-icon {
  margin-top: 180px;
  cursor: pointer;
}

.logo {
  align-self: flex-start;
}

.menu__list {
  display: flex;
  gap: 38px;
}
.menu__link {
  display: block;
  padding: 9px 6px;
  color: #373A39;
  font-size: 12px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.menu__link--active {
  border-bottom: 1px solid #FCBB08;
}
.menu__link:hover {
  border-bottom: 1px solid #FCBB08;
}

.maintitle {
  color: #FFF;
  font-size: 72px;
  font-family: Montserrat;
  font-weight: 500;
}

.about {
  padding: 152px 159px;
  background: #F6F8FA;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__title {
  font-size: 48px;
  align-self: start;
}
.about__text {
  max-width: 770px;
  color: #373A39;
  font-size: 14px;
  font-family: SF Pro Display;
  font-weight: 300;
  line-height: 171.428571%;
}
.about__text p + p {
  margin-top: 10px;
}

.expertise {
  padding: 143px 0 188px;
}
.expertise__row {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.expertise__item {
  width: 370px;
  padding-left: 85px;
  cursor: pointer;
}
.expertise__item:hover .expertise__subtitle {
  font-weight: 400;
}
.expertise__item--graphic {
  background: url("../icons/expertise/graphic.svg") no-repeat;
}
.expertise__item--development {
  background: url("../icons/expertise/monitor.svg") no-repeat left -6px;
}
.expertise__item--marketing {
  background: url("../icons/expertise/speaker.svg") no-repeat left -10px;
}
.expertise__subtitle {
  color: #333;
  font-size: 14px;
  font-family: Raleway;
  line-height: 142.857143%;
  letter-spacing: 4.29px;
}
.expertise__text {
  color: #777;
  font-size: 14px;
  font-family: SF Pro Display;
  font-weight: 300;
  line-height: 171.428571%;
  margin-top: 14px;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.progress__lines {
  width: 370px;
  color: #1D1D1D;
  font-size: 11px;
  line-height: 181.818182%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
}
.progress__line-bg {
  background: #F0F0F0;
  height: 2px;
  position: relative;
}
.progress__line-bg:not(:first-child) {
  margin-top: 28px;
}
.progress__line-over {
  background: #1D1D1D;
  height: 2px;
  position: relative;
}
.progress__line-over::after {
  position: absolute;
  bottom: -20px;
  right: -16px;
}
.progress__line-over--branding::after {
  content: "90%";
}
.progress__line-over--design::after {
  content: "80%";
}
.progress__line-over--development::after {
  content: "85%";
}
.progress__word {
  margin-top: 2px;
}
.progress__text {
  max-width: 770px;
  color: #373A39;
  font-size: 14px;
  font-family: SF Pro Display;
  font-weight: 300;
  line-height: 171.428571%;
}
.progress__text p + p {
  margin-top: 25px;
}

.magic {
  background: #F6F8FA url("../images/magic-bg.jpg") no-repeat 0 85%/50%;
  padding: 100px 0 215px;
}
.magic__inner {
  max-width: 470px;
  margin-left: auto;
}
.magic__text {
  margin-top: 85px;
  color: #373A39;
  font-size: 14px;
  font-weight: 300;
  line-height: 171.428571%;
}
.magic__text p:not(:first-child) {
  margin-top: 25px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}