<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <a class="footer__logo" href="#">
                <svg width="80" height="64" role="img">
                    <title>o...marketing</title>
                    <use xlink:href="images/sprite.svg#footer-logo"></use>
                </svg>
            </a>
            <ul class="footer__social-list">
                <li class="footer__social-item"><a href="#" class="footer__social-link">FACEBOOK</a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link">TWITTER</a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link">GOOGLE+</a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link">BEHANCE</a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link">DRIBBLE</a></li>
                <li class="footer__social-item"><a href="#" class="footer__social-link">INSTAGRAM</a></li>
            </ul>
            <div class="footer__conacts">
                <address class="address">Украина, Харьков, ул. Тобольская, 63</address>
                <a href="tel:+3806765252222" class="footer__phone">(38067) 65 252 222</a><br>
                <a class="footer__email" href="mailto:info@mail.com">info@mail.com</a>
            </div>
            <a href="#body" class="footer__up" aria-label="Вернуться наверх">
                <svg class="angle-up">
                    <use xlink:href="images/sprite.svg#angle-up"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="footer__copy" id="footer-bottom">
        <div class="container">
            <p>@2020 O...Marketing</p>
        </div>
    </div>
</footer>