<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <a href="#body" class="logo" id="logo">
                    <svg role="img">
                        <title>o...marketing</title>
						<use xlink:href="images/sprite.svg#logo"></use>
					</svg>
                </a>
                <div class="menu__btn">
                    <span></span><span></span><span></span>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#body" class="menu__link">HOME</a></li>
                        <li class="menu__item"><a href="#about" class="menu__link">ABOUT US</a></li>
                        <li class="menu__item"><a href="#portfolio" class="menu__link">PORTFOLIO</a></li>
                        <li class="menu__item"><a href="#team" class="menu__link">OUR TEAM</a></li>
                        <li class="menu__item"><a href="#blog" class="menu__link">BLOG</a></li>
                        <li class="menu__item"><a href="#contact" class="menu__link">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <h1 class="maintitle">O...MARKETING</h1>
            <p class="header__descr">DIGITAL MARKETING AGENCY</p>
            <a class="header__mouse-link" href="#footer-bottom">
                <svg width="26" height="43" role="img">
                    <title>Вниз</title>
                    <use xlink:href="images/sprite.svg#mouse"></use>
                </svg>
            </a>
        </div>
    </div>
</header>