.about
	padding: 152px 159px
	background: #F6F8FA
	// .about__inner
	&__inner
		@include flex
	&__title
		font-size: 48px
		align-self: start

	// .about__text
	&__text
		max-width: 770px
		color: #373A39
		font-size: 14px
		font-family: SF Pro Display
		font-weight: 300
		line-height: 171.428571% // 24px/14
		p+p
			margin-top: 10px

