.header
	padding-top: 83px
	&__top
		position: fixed
		top: 0
		left: 0
		right: 0
		background-color: #fff
		z-index: 999
		box-shadow: 0 3px 15px rgba(#000, .3)
	// .header__top-inner
	&__top-inner
		min-height: 94px
		@include flex
		align-items: center
	// .header__content
	&__content
		background: image-set("../images/header-bg.avif" type("image/avif"), "../images/header-bg.webp" type("image/webp"), "../images/header-bg.jpg" type("image/jpeg")) no-repeat 50% 83%/cover
		max-width: 1440px
		margin: 0 auto
		padding: 240px 0 60px
		text-align: center
		position: relative
		&-img
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			min-height: 100%
			width: 100%
			max-width: 1440px

	// .header__descr
	&__descr
		color: #FCBB08
		font-size: 16px
		font-family: Montserrat
		font-weight: 700
		letter-spacing: 2.743px
		margin-top: 18px
	// .header__mouse-icon
	&__mouse-link
		display: inline-block
		margin-top: 180px
		cursor: pointer
.logo
	align-self: flex-start
	svg
		width: 80px
		height: 64px
		fill: #000
		transition: 0.8s
	&--active
		svg
			fill: #fff
.menu
	&__btn
		display: none
		position: fixed
		top: 33px
		right: 30px
		width: 39px
		height: 18px
		z-index: 10
		span
			display: block
			width: 100%
			height: 2px
			background-color: #000
			margin-bottom: 6px
			transition: .5s
		&--active
			span
				background-color: #fff
				margin-bottom: -2px
				&:nth-child(1)
					transform: translateY(5px) rotate(45deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: translateY(5px) rotate(-45deg)

	// .menu__list
	&__list
		display: flex
		gap: 38px
			
	// .menu__link
	&__link
		display: block
		padding: 9px 6px
		color: #373A39
		font-size: 12px
		font-family: Raleway
		font-weight: 700
		letter-spacing: 0.6px
		text-transform: uppercase
		transition: .3s
		border-bottom: 1px solid transparent
		&--active
			border-bottom: 1px solid #FCBB08
		&:hover
			border-bottom: 1px solid #FCBB08
.maintitle
	color: #FFF
	font-size: 72px
	font-family: Montserrat
	font-weight: 500
