.magic
	background: #F6F8FA url('../images/magic-bg.jpg') no-repeat 0 87%/49%
	// .magic__inner
	&__inner
		max-width: 470px
		margin-left: auto
		padding: 100px 0 200px
	// .magic__text
	&__text
		margin-top: 85px
		color: #373A39
		font-size: 14px
		font-weight: 300
		line-height: 171.428571% // 24px/14
		p:not(:first-child)
			margin-top: 25px